<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Raspicam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="Raspicam">
    <div id="app" ng-controller="mainController as main">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-menu ng-if="main.isConnected()">
                    <md-button md-menu-origin  class="md-button" aria-label="Open menu" ng-click="$mdOpenMenu($event)">
                    <span>menu</span>
                    </md-button>
                    <md-menu-content width="6">
                        <md-menu-item>
                            <md-button class="md-button" aria-label="Users View">
                            Viewers
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-button" aria-label="Disconnect" ng-click="main.disconnect()">
                            Disconnect
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <span flex></span>
                <h2>
                    &lt;R&#8525;picam/&gt;
                </h2>
            </div>
        </md-toolbar>
        <md-content id="app-content">
            <section ng-if="!main.isConnected()" layout="row" layout-align="center center">
                <md-card flex>
                    <md-card-title>
                          <md-card-title-text>
                            <span class="md-headline">Join the stream bro</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <form layout="column" name="login">
                            <md-input-container>
                                <label>tag</label>
                                <input ng-model="main.user.tag" type="text" minlength="3" required>
                            </md-input-container>
                            <md-input-container>
                                <label>I'm a</label>
                                <md-select ng-model="main.user.type" required>
                                    <md-option
                                        ng-repeat="type in main.types track by $index"
                                        ng-value="type">
                                        {{ type }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button ng-disabled="!login.$valid" class="md-raised md-primary" ng-click="main.connect()">Connect</md-button>
                            </md-card-action>
                        </form>
                    </md-card-content>
                </md-card>
            </section>
            <md-list flex ng-if="main.isConnected()">
                <md-subheader class="md-no-sticky">
                    <strong>{{ main.users.length }} viewers</strong>
                </md-subheader>
                <md-divider></md-divider>
                <md-list-item class="md-3-line" ng-repeat="user in main.users" ng-click="null">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ user.tag }}</h3>
                        <p>{{ user.type | lowercase }}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
    <script type="text/javascript" src="bundle.js"></script>
</body>
</html>
