<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Raspicam</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="Raspicam">
  <div class="container">
    <div id="app" ng-controller="mainController as main">

    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-menu>
                <md-button md-menu-origin  class="md-button" aria-label="Open menu" ng-click="$mdOpenMenu($event)">
                <span>menu</span>
                </md-button>
                <md-menu-content width="6">
                    <md-menu-item>
                        <md-button class="md-button" aria-label="Users View">
                        Users
                        </md-button>
                    </md-menu-item>
                    <md-menu-item >
                        <md-button class="md-button" aria-label="Disconnect" ng-click="main.disconnect()">
                        Disconnect
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <span flex></span>
            <h2>
                &lt;R&#8525;picam/&gt;
            </h2>
        </div>
    </md-toolbar>


    <md-content>
      <md-list flex ng-if="main.isConnected()">
        <md-subheader class="md-no-sticky"><strong>{{ main.users.length }} connected users</strong></md-subheader>
        <md-list-item class="md-3-line" ng-repeat="user in main.users" ng-click="null">
          <div class="md-list-item-text" layout="column">
            <h3>{{ user.name }}</h3>
            <p>{{ user.id }}</p>
          </div>
          <md-divider ></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
  </div>

    </div>
  </div>
  <script type="text/javascript" src="bundle.js"></script>
</body>
</html>
